@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Admin Site</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/css/importStyle/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/css/importStyle/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/css/importStyle/hamburgers.min.css>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/css/importStyle/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/css/importStyle/select2.min.css>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/css/importStyle/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/css/importStyle/util.css">
    <link rel="stylesheet" type="text/css" href="~/css/importStyle/main.css">
    <!--===============================================================================================-->
</head>

<body>
    <div class="limiter">
        <div class="container-login100" id="adminsite">
            <div class="wrap-login100  p-b-20">
                <form action="@Url.Action("HandleLogin", "Login", new { area = "Admin" })" method="post">
                    <span class="login100-form-title m-b-50">
                        Welcome
                    </span>
                    <div class="wrap-admin-site">
                        <div class="wrap-input100 validate-input m-t-15 m-b-35" data-validate="Enter email">
                            <input class="input100 " type="text" name="Email" id="email" />
                            <span class="focus-input100" data-placeholder="Email"></span>
                        </div>
                        <div class="wrap-input100 validate-input m-b-50" data-validate="Enter password">
                            <input class="input100" type="password" name="Password" id="password" />
                            <span class="focus-input100" data-placeholder="Password"></span>
                        </div>
                        <div class="container-login100-form-btn">
                            <input class="login100-form-btn" type="submit" value="Login" />
                        </div>
                        <ul class="login-more p-t-50">
                            <li class="m-b-8">
                                <span class="txt1">
                                    Forgot
                                </span>

                                <a href="#" class="txt2">
                                    Username / Password?
                                </a>
                            </li>
                            <li>
                                <span class="txt1">
                                    Don’t have an account?
                                </span>

                                <a href="./admin_signup.html" class="txt2">
                                    Sign up
                                </a>
                            </li>
                        </ul>
                    </div>
                </form>


            </div>
        </div>
    </div>

    <div id="dropDownSelect1"></div>
    <!--===============================================================================================-->
    <script src="~/js/importJs/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/js/importJs/animsition.min.js"></script>
    <!--===============================================================================================-->
    <!--===============================================================================================-->
    <script src="~/js/importJs/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/js/importJs/moment.min.js"></script>
    <script src="~/js/importJs/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/js/importJs/countdowntime.js"></script>
    <!--===============================================================================================-->
    @*<script src="~/js/importJs/login.js"></script>*@


</body>

</html>
